.show-map {
  position:relative;
  height: 600px;
  width: 800px;
  border-radius: 5%;
}

.hide-map {
  width: 0px;
  height: 0px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}