// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title-text{
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

#pink {
  color: #ff96ce;
}

.home-logo{
  height: 70px;
  width: 70px;
}

@-webkit-keyframes pulse {
 0% {
 -webkit-transform: scale(1, 1);
}
 50% {
 -webkit-transform: scale(1.1, 1.1);
}
 100% {
 -webkit-transform: scale(1, 1);
};
}

@keyframes pulse {
 0% {
 transform: scale(1, 1);
}
 50% {
 transform: scale(1.1, 1.1);
}
 100% {
transform: scale(1, 1);
};
}

.ice-cream {
  height: 450px;
  width: 200px;
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

.ice-cream:hover {
  -webkit-animation: none;
  animation:none;
}


.ice-cream:active {
  -webkit-animation: none;
  animation:none;
  text-decoration:none;
}
