// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@-webkit-keyframes pulse {
 0% {
 -webkit-transform: scale(1, 1);
}
 50% {
 -webkit-transform: scale(1.1, 1.1);
}
 100% {
 -webkit-transform: scale(1, 1);
};
}

@keyframes pulse {
 0% {
 transform: scale(1, 1);
}
 50% {
 transform: scale(1.1, 1.1);
}
 100% {
transform: scale(1, 1);
};
}

.test {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

.test:hover {
  -webkit-animation: none;
  animation:none;
}


.test:active {
  -webkit-animation: none;
  animation:none;
  text-decoration:none;
}
